body {
    background-image: url(../images/Zelda-Background.jpg);
    background-size: 100%;
}
h1 {
    text-align: center;
    font-size: 50px;
    background-color: #43c3dc;
    color: #6b34ab;
    padding: 20px 0px;
}
#instructions {
    background-color: #2e8b31;
    color: #dae1ea;
    width: 480px;
    padding: 10px;
    margin-top: 10px;
}
p {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
}
#randomNumber {
    text-align: center;
    color: #2fb9e6;
    font-size: 80px;
    background-color: #fdd421;
    width: 130px;
    margin: 10px;
}
#scoreBoard {
    background-color: #b5c4d5;
    color: #3aab25;
    height: 120px;
    width: 200px;
    margin: 10px;
}
.score {
    font-size: 40px;
    margin-top: 0px;
    line-height: 70px;
}
#losses {
    line-height: 0px;
}
#totalScore {
    font-size: 20px;
    background-color: #5bb947;
    color: #fdd421;
    margin: 10px;
    margin-left: -5px;
    width: 152px;
}
#counter {
    text-align: center;
    background-color: #5bb947;
    color: #fdd421;
    font-size: 60px;
}
#rupees {
    margin-left: 654px;
    margin-top: -460px;
}
.rupees {
    width: 140px;
    margin: 12px;
    height: 210px;
}